/* Coolors Exported Palette - coolors.co/068d9d-53599a-6d9dc5-80ded9-aeecef */

/* HSL */
$color1: hsla(186%, 93%, 32%, 1);
$color2: hsla(235%, 30%, 46%, 1);
$color3: hsla(207%, 43%, 60%, 1);
$color4: hsla(177%, 59%, 69%, 1);
$color5: hsla(183%, 67%, 81%, 1);

/* RGB */
$color1: rgba(6, 141, 157, 1);
$color2: rgba(83, 89, 154, 1);
$color3: rgba(109, 157, 197, 1);
$color4: rgba(128, 222, 217, 1);
$color5: rgba(174, 236, 239, 1);


/* Custom */
$color6: mix(black, $color4, 20%);
$color7: #616161;